.contact-us {
    text-align: center;
    padding: 50px;
    margin-top: 27rem;
    background-color: #0b0b4500;
    color: white;
}

.contact-us h2 {
    font-size: 22.69px;
    font-weight: 700;
}

.contact-us h1 {
    font-size: 55px;
    font-weight: 800;
    color: white; 
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 
                 0 0 4px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;   
}

.contact-us p {
    max-width: 876px;
    align-items: center;
    word-break: normal;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 auto; /* Center align the paragraph */
    margin-top: 20px; /* Add some space above the p */
}
.contact-us .highlight {
    color: #f7b500;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.contact-details {
    text-align: left;
    max-width: 400px;
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-code img {
    max-width: 200px;
}

.qr-code p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.map {
    margin-top: 30px;
}

.map img {
    max-width: 100%;
    height: auto;
}
