.anchor-offset {
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 1px;
    visibility: hidden;
}

.contact-us {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: 17rem;
    background-color: #0b0b4500;
    color: white;
    font-family: "Karla", sans-serif;
}

.contact-us h2 {
    font-size: 22.69px;
    font-weight: 700;
    letter-spacing: 2.8px;
    margin-bottom: 1.2rem;
}

.contact-us h1 {
    font-size: 55px;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
        0 0 4px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.contact-us p {
    max-width: 876px;
    align-items: center;
    word-break: normal;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    letter-spacing: 0.49px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10rem;
    line-height: 21.04px;
    text-shadow: 0px 0px 17.15px rgba(255, 255, 255, 0.5);
    
}

.contact-us .highlight {
    color: #f7b500;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.contact-details {
    text-align: left;
    max-width: 400px;
    margin-left: 100px;
}

.contact-details h3 {
    font-size: 34.33px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;

}

.contact-item .icon {
    width: 20px;
    margin-right: 8px;

}

.contact-item p {
    margin: 0;

    font-size: 18px;
}

.qr-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.qr-code-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 55px;
    width: 591px;
    height: 282.9px;
    margin-right: 90px;
    background-image:
        url('../image/noise.png'),
        linear-gradient(0deg, rgba(255, 255, 255, 0.154), rgba(255, 255, 255, 0.5)),
        radial-gradient(54.4% 167.83% at -1.18% 9.19%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-blend-mode: overlay, overlay, normal;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 55px;
}

.scan-container {
    margin-left: 40px;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.text-heading {
    color: #222227;
    margin-right: auto;
    padding: 0 20px;
    font-size: 64.69px;
    font-weight: 800;
    line-height: 71.23px;
    margin-bottom: -29px;
    margin-top: 20px;
}

.text-sub {
    color: #222227;
    margin-right: auto;
    padding: 0 20px;
    font-size: 124.22px;
    font-weight: 800;
    line-height: 136.77px;
}

.qr-code {
    max-width: 150px;
    border-radius: 29px;
    margin-right: 20px;
    min-width: 211px;
    min-height: 211px;
}

.map-wrapper {
    width: 80%;
    margin-top: 50px;
    margin-left: 140px;
    position: relative;
    padding-top: 56.25%;
}

.responsive-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; 
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column; 
        align-items: center; 
    }

    .contact-details {
        margin-left: 0; 
        margin-bottom: 20px; 
    }

    .qr-section {
        margin-top: 10px;
    }

    .qr-code-box {
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-right: 0;
        padding: 20px;
    }

    .scan-container {
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .text-heading {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 2rem;
    }

    .text-sub {
        font-size: 80px;
        line-height: 88px;
        padding: 0;
    }

    .qr-code {
        max-width: 100%;
        min-width: unset;
        min-height: unset;
        width: 150px;
        height: 150px;
        margin-right: 0;
    }
    .map-wrapper {
        padding-top: 75%; 
        margin-left: 2.9rem;
    }
}

@media (max-width: 481px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-details {
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .qr-section {
        margin-top: 5px;
    }

    .qr-code-box {
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-right: 0;
        padding: 15px;
    }

    .scan-container {
        margin-left: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .text-heading {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 1rem;
    }

    .text-sub {
        font-size: 64px;
        line-height: 70px;
        padding: 0;
    }

    .qr-code {
        max-width: 100%;
        min-width: unset;
        min-height: unset;
        width: 120px;
        height: 120px;
        margin-right: 0;
    }

    .map-wrapper {
        padding-top: 100%; 
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
