html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Karla', sans-serif;
  background-color: transparent;
  color: #333;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}
.background2 {
  min-height: 350vh;
  background-image: url('../image/appdevbg.png');
  background-size: cover;
  margin: 0;
  padding-top: 180px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: left;
}

.section {
  margin-top: 0;
  text-align: left;
  padding-left: 15rem;
  margin-bottom: 4rem;
  color: #E9E9E9;
}

.section p {
  font-size: 18px;
  line-height: 21.04px;
  max-width: 850px;
  margin-top: 2rem;
  font-family: "Karla", sans-serif;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 1.4px;
}

.headingc {
  letter-spacing: 2px;
  font-size: 85px;
  font-weight: 800;
  font-family: "karla", sans-serif;
  line-height: 93.59px;
  padding-top: 4rem;
  color: #E9E9E9;
  -webkit-text-stroke: 1.2px #E9E9E9;
}

/* .subheadingc {
  margin: 0;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 85px;
  line-height: 93.59px;
  font-family: "karla", sans-serif; 
  color: #E9E9E9;
  -webkit-text-stroke: 1.2px #E9E9E9;
} */

.steps.c {
  display: flex;
  margin-top: 20rem;
  flex-direction: column;
  gap: 8rem;
  font-family: "Karla", sans-serif;
}

.stepc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-family: "Karla", sans-serif;
}

.stepc .text1 {
  max-width: 600px;
  text-align: left;
  max-width: 785px;
  font-family: "Karla", sans-serif;
}

.stepc .text2 {
  max-width: 600px;
  text-align: right;
  max-width: 785px;
  font-family: "Karla", sans-serif;
}

.stepc h2 {
  font-size: 54.32px;
  margin-bottom: 1rem;
  color: #E9E9E9;
  -webkit-text-stroke: 1.2px #E9E9E9;
  font-family: "Karla", sans-serif;
  font-weight: 900;
  max-width: 785px;
}

.stepc p {
  font-size: 17.43px;
  line-height: 1.5;
  max-width: 600px;
  line-height: 20.38px;
  font-family: "Karla", sans-serif;
  color: #E9E9E9;
  font-weight: 500;
}

.stepc img.icon {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 50px;
  background: radial-gradient(circle, #19174b 0%, #08062200 70%);
  
}


.left-icon {
  order: 0;
}

.right-icon {
  order: 3;
}

.stepc:nth-child(even) .left-icon {
  order: 3;
}

/* .step:nth-child(even) .right-icon {
  order: 1;
} */

.stepc:nth-child(even) .text {
  order: 2;
}

.icon-6 {
  height: 240px; 
  width: 330px;   
  position: relative;
  padding-left: 2rem;
  border-radius: 50px;
  background: radial-gradient(circle, #19174b 0%, #08062200 50%);
}

@media (max-width: 768px) {
  .background2 {
    min-height: 350vh;
    background-image: url('../image/appdevbg.png');
    background-size: cover;
    margin: 0;
    padding-top: 5px;
  }
  .section {
    padding-left: 1rem; /* Sesuaikan padding */
    margin-bottom: 2rem;
    margin-left: -12.5rem;
    margin-right: 2rem;
    transition: margin-left 0.5s ease;
  }
  .icon-6 {
    height: 120px; 
    width: 260px;   
    position: relative;
    padding-left: 2rem;
    border-radius: 50px;
    background: radial-gradient(circle, #19174b 0%, #08062200 50%);
  }
  .headingc {
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 60px;
    line-height: 93.59px;
    max-width: 1045px;
  }

  .steps.c {
    margin-top: 3rem;
  }

  .stepc {
    margin-bottom: 2rem;
  }

  .stepc h2 {
    font-size: 1.8rem;
  }

  .stepc p {
    font-size: 13px;
  }

  .stepc img.icon {
    width: 180px;
    height: 180px;
  }
}