html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.custom.bg {
  min-height: 350vh;
  background-image: url('../image/customappdev.png');
  background-size: cover;
  margin: 0;
  padding-top: 240px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: left;
}

.section {
  margin-top: 0;
  text-align: left;
  padding-left: 15rem;
  margin-bottom: 4rem;
  color: #E9E9E9;
}


.section p {
  font-size: 18px;
  line-height: 21.04px;
  max-width: 850px;
  margin-top: 2rem;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 1.4px;
}

.heading {
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 85px;
  line-height: 93.59px;

}

.subheading {
  margin: 0;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 85px;
  line-height: 93.59px;
}

.steps {
  display: flex;
  margin-top: 22rem;
  flex-direction: column;
  gap: 8rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.step h2 {
  font-size: 54.32px;
  margin-bottom: 1rem;
  color: #E9E9E9;
  font-weight: 800;
}

.left {
  font-size: 17.43px;
  line-height: 1.5;
  max-width: 621.56px;
  color: #EDEDED;
  font-weight: 500;
  text-align: left;

}

.right {
  font-size: 17.43px;
  line-height: 1.5;
  max-width: 621.56px;
  color: #EDEDED;
  font-weight: 500;
  text-align: right;
}

.step p {
  font-size: 17.43px;
  line-height: 1.5;
  max-width: 600px;
  color: #E9E9E9;
  font-weight: 500;
}