* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Karla', sans-serif;
  background-color: transparent;
  color: #333;
  display: flex;
  flex-direction: column;
}
/* .karla-uniquifier {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style:oblique;
} */

body {
  margin: 0;
}
.main-content-container{
  padding: 0%;
}
.main-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left; 
  padding: 5rem 2rem;
  color: #E9E9E9;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative; 
  margin-left: 12rem; /* Mengurangi margin kiri untuk menggeser ke kiri */
  margin-top: 8rem; 
  transform: translateX(-10px); /* Geser ke kiri sedikit */
  transition: all 0.3s ease; /* Efek transisi agar smooth */
}

@media (max-width: 768px) {
  .main-section {
    margin-left: 1rem; /* Penyesuaian margin kiri di layar lebih kecil */
    transform: translateX(-5px); /* Geser lebih sedikit pada layar kecil */
  }
}

@media (max-width: 480px) {
  .main-section {
    margin-left: 0.5rem; /* Penyesuaian margin kiri di layar yang sangat kecil */
    transform: translateX(-3px); /* Geser sedikit pada layar sangat kecil */
  }
}


.content-wrapper {
  display: flex;
  align-items: flex-start;
}

/* Elemen garis yang responsif */
.line {
  width: 2%; /* Menggunakan persentase agar mengikuti lebar layar */
  max-width: 4px; /* Maksimal lebar 4px agar tidak terlalu besar di layar besar */
  height: 248px; /* Menyesuaikan tinggi berdasarkan viewport */
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #E9E9E9; 
  margin-right: 2.9rem;
  transition: all 0.3s ease; /* Menambahkan transisi untuk efek smooth */
}

@media (max-width: 768px) {
  .line {
    width: 3%; /* Sedikit lebih lebar pada layar kecil untuk visibilitas */
    max-width: 3px;
    height: 15vh; /* Sedikit lebih pendek di layar kecil */
    margin-right: 1rem; /* Mengurangi margin agar tidak terlalu longgar */
  }
}

@media (max-width: 480px) {
  .line {
    width: 4%; /* Lebih lebar di layar sangat kecil */
    max-width: 2px; 
    height: 12vh; /* Lebih pendek untuk menyesuaikan konten */
    margin-right: 0.5rem;
  }
}


.content-text {
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  margin-bottom: 2.5rem;
}

.headingm {
  margin: 0;
  letter-spacing: 2px;
  font-size: 85px;
  line-height: 93.59px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style:normal;
}

.subheadingm {
  margin: 0;
  letter-spacing: 2px;
  font-size: 85px;
  line-height: 93.59px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style:normal;
}

.textm {
  font-size: 18px;
  font-weight: 400;
  max-width: 900px;
  min-height: 84px;
  line-height: 21.04px;
  word-spacing: 5px;
  text-align: justify;
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
}
