html, body {
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  width: calc(100% - 2rem);
  max-width: 1200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin-top: 2rem;
  background-size: cover;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    padding: 1rem;
  }
}

.logo-container {
  height: 36px; 
  overflow: hidden;
}

.logo {
  height: 40px; 
  position: relative;
  bottom: -2px; 
}

@media (max-width: 768px) {
  .logo {
    margin-bottom: 1rem;
  }
}

.menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}

.nav-item {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 0 20px;
}

.nav-item:hover {
  color: #000;
}

.menu-item {
  position: relative;
}

.dropdown-icon {
  margin-left: 0.5rem;
  width: 12px;
  height: 12px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  min-width: 250px;
}

.dropdown-item {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 0;
  display: block;
}

.dropdown-item:hover {
  color: #007BFF;
}

.menu-item:hover .dropdown {
  display: block;
}

.language-buttons {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.small-logo {
  height: 20px; 
  margin-right: 0.25rem;
  transition: opacity 0.3s;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  font-size: 0.875rem; 
}

.language-button.active {
  color: gray;
}

.language-button:hover {
  color: #000;
  opacity: 0.7;
}

.inactive-flag {
  opacity: 0.3;
}

.nav-item:hover {
  color: #000;
}

.menu .nav-item:nth-child(2):hover, 
.menu .nav-item:nth-child(3):hover { 
  background-color: #fbfbfb;
  color: #2b2b2b;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

.menu .nav-item:nth-child(2):hover::before, 
.menu .nav-item:nth-child(3):hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbfbfb;
  z-index: -1;
  border-radius: 20px;
  opacity: 1;
  transform: scale(1);
}

.menu-item {
  flex-shrink: 0;
}
