@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.our-expertise-section {
  padding: 50px 0;
  text-align: center;
  font-family: "Karla", sans-serif;
}

.section-title {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #fff;
}

.expertise-card {
  position: relative;
  padding: 20px;
  border-radius: 39px;
  background: url('../image/noise.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  max-width: 342.18px;
  max-height: 500.78px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  text-align: center;
  z-index: 1;
}

.expertise-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 39px;
  width: 100%;
  height: 70%;
  background: rgba(255, 255, 255, 0.4);
  border-top-left-radius: 50% 60px;
  border-top-right-radius: 50% 60px;
  z-index: -1;
  pointer-events: none;
}

.expertise-card.active {
  transform: rotate(0);
  opacity: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.expertise-card.left {
  transform: rotate(-5deg);
  opacity: 0.5;
}

.expertise-card.right {
  transform: rotate(5deg);
  opacity: 0.5;
}

.expertise-image {
  position: relative;
}

.expertise-image img {
  max-width: 299px;
  margin-bottom: 20px;
}

.expertise-content h3 {
  font-size: 20.79px;
  font-weight: 800;
  margin-bottom: 15px;
}

.expertise-content p {
  font-size: 10.81px;
  font-weight: 500;
  color: #333;
}

.learn-more {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #FFFFFF1A;
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.learn-more:hover {
  background-color: #ECE9E0BF;
}

.slick-prev, .slick-next {
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: white;
}

.carousel-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel-btn {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.carousel-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.carousel-btn:active {
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 600px) {
  .slick-prev, .slick-next {
    display: none;
  }
}
