html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 540vh; 
  background-image: url('../src/image/bgM2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.app-container.loaded {
  background-image: url('../src/image/bgM2.webp'); /* Main background image */
}

.App {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  padding: 2rem;
}

.slider-container {
  max-width: 800px;
  margin: 2rem auto;
}
